[network]
chatPort=7502

[database]
mongoUri=mongodb://rubbagechat_app:REPLACE_WITH_URL_ENCODED_PASSWORD@127.0.0.1:27017/rubbagechat?authSource=rubbagechat&serverSelectionTimeoutMS=3000
name=rubbagechat

[security]
tls=true
certificateFile=C:/ProgramData/RubbageChat/tls/fullchain.pem
privateKeyFile=C:/ProgramData/RubbageChat/tls/privkey.pem
publicMode=true
registrationEnabled=true
maxConnections=500
maxConnectionsPerIp=12

[development]
seedDemoAccounts=false
