[network]
host=127.0.0.1
chatPort=7502
filePort=7028

[database]
mongoUri=mongodb://127.0.0.1:27017/?serverSelectionTimeoutMS=3000
name=rubbagechat

[security]
tls=false
certificateFile=
privateKeyFile=
